.menu
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    width: 30rem;
    height: 3rem;
    background-color: rgb(76, 76, 76);
    transform: translate(0,300%);
    transition: all .5s ease;
    display: flex;
}
.display
{
    transform: translate(0,0);
}
.item
{
    width: 3rem;
    height: 3rem;
    background-color: rgb(117, 117, 117);
    position: relative;
}
.errorSvg
{
    width: 40%;
    height: 40%;
}
.errorContainer
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(117, 117, 117);
    transform: scale(0);
    transition: all .3s ease;
}
.errorContainerDisplay
{
    transform: scale(1);
}