.menu
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    width: 30rem;
    height: 3rem;
    background-color: blue;
}
.item
{
    width: 3rem;
    height: 3rem;
    background-color: green;
}