.container
{
    position: fixed;
    bottom: 2rem;
    left:50%;
    translate: -50% 0;
    width: 30rem;
    height: 3rem;
    background-color: blue;
    transform: translate(0,300%);
    transition: all .5s ease;
}
.display
{
    transform: translate(0,0);
}