.borderRadius
{
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    width: 52%;
    height: 52%;
    border-top:.4rem solid rgb(255, 255, 255);
    border-right: .4rem solid rgb(255, 255, 255);
}
.borderRadius1
{
    border-top-right-radius: 0;
}
.borderRadius2
{
    border-top-right-radius: .6rem;
}
.borderRadius3
{
    border-top-right-radius: 1rem;
}
.borderRadius4
{
    border-top-right-radius: 2rem;
}
@media (max-width:1200px){
    .borderRadius
    {
        bottom: .6rem;
        left: .6rem;
        border-top:.5rem solid rgb(255, 255, 255);
        border-right: .5rem solid rgb(255, 255, 255);
    }
}
@media(max-width:768px)
{
    .borderRadius
    {
        bottom: .8rem;
        left: .8rem;
        width: 55%;
        height: 55%;
        border-top:.8rem solid rgb(255, 255, 255);
        border-right: .8rem solid rgb(255, 255, 255);
    }
    .borderRadius1
    {
        border-top-right-radius: 0;
    }
    .borderRadius2
    {
        border-top-right-radius: .8rem;
    }
    .borderRadius3
    {
        border-top-right-radius: 1.2rem;
    }
    .borderRadius4
    {
        border-top-right-radius: 2.2rem;
    }
}
@media(max-width:450px)
{
    .borderRadius
    {
        bottom: 1.2rem;
        left: 1.2rem;
        width: 55%;
        height: 55%;
        border-top:1.2rem solid rgb(255, 255, 255);
        border-right: 1.2rem solid rgb(255, 255, 255);
    }
    .borderRadius1
    {
        border-top-right-radius: 0;
    }
    .borderRadius2
    {
        border-top-right-radius: 1.5rem;
    }
    .borderRadius3
    {
        border-top-right-radius: 2.8rem;
    }
    .borderRadius4
    {
        border-top-right-radius: 4rem;
    }
}