.container
{
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 2;
}
.imgContainer
{
    width: 3rem;
    height: 3rem;
    border:.3rem solid #02735E;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer2
{
    position: relative;
    width: 5rem;
    height: 5rem;
    border:.4rem solid #03A678;
}
.imgContainer>img
{
    width: 100%;
    z-index: 1;
}
.imgLoadingOverlay
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #014040;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease;
}
.displayImgOverlay
{
    opacity: 1;
}
.container:hover>.imgContainer
{
    border:.3rem solid #03A678;
}
.menuContainer
{
    position: absolute;
    top:1rem;
    right: 0;
    width: 16rem;
    display: none;
    padding-top: 2.5rem;
    display: block;
    transform: scale(0);
    opacity: 0;
    transform-origin: 90% 0%;
    transition: all .4s ease;
}
.container:hover>.menuContainer
{
    transform: scale(1);
    opacity: 1;
}
.menu
{
    width: 100%;
    height: 100%;
    background-color: #014040;
    border:.4rem solid #03A678;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
}
.loadingSVG
{
    width: 75%;
    height: 75%;
}
.name
{
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: 900;
    margin-top: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Cause", cursive;
}
.profileSVG
{
    width: 2.8rem;
    height: 2.8rem;
    padding-top: .4rem;
    fill: rgb(255, 255, 255);
}
.menuBtn
{
    background: none;
    border: 0;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 254);
    font-weight: 700;
    cursor: pointer;
    margin: 1rem 0;
    background: #02735E;
    border:.3rem solid #03A678;
    border-radius: 1rem;
    transition: background .3s ease;
    font-family: "Jost", sans-serif;

}
.menuBtn:hover
{
    background: #03A678;
}
.logoutBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 1rem;
     background: #02735E;
    border:.3rem solid #03A678;
    gap:.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .5rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Jost", sans-serif;
}
.logoutIcon
{
    width: 2rem;
    height: 2rem;
}
.logoutBtn:hover
{
    border: .3rem solid #F27405;
    background: #F27405;
}