.redirectPage
{
    position: fixed;
    top:-5%;
    left:-5%;
    bottom: -5%;
    right: -5%;
    z-index: 6;
    background-color: #014040;
    border-radius: 10rem;
    transform: scale(0);
    transition: all 1s ease-out;
    opacity: 0;
}
.redirectPageDisplay
{
    transform: scale(1);
    opacity: 1;
}