.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: #014040;
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}