.container
{
    width: 100%;
    height: 100svh;
    background-color: #014040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    background: radial-gradient(#02735E,#014040 70%);
    padding: 3rem 0;
}
.header
{
    font-size: 5rem;
    color: white;
    font-family: "Cause", cursive;
    cursor: default;
}
.icon
{
   width: 30rem;
}
.btn
{
    font-size: 1.8rem;
    outline: none;
    border:.5rem solid #03A678;
    background: #02735E;
    color: white;
    font-weight: 900;
    padding: .8rem 1.5rem;
    border-radius: 1.8rem;
    cursor: pointer;
    transition: background .3s ease;
    font-family: "Jost", sans-serif;
}
.header::selection,
.btn::selection
{
    background:none;
}
@media(max-width:768px)
{
    .container
    {
        gap:6rem;
        padding: 3rem 0;
    }
    .header
    {
        font-size: 8rem;
    }
    .icon
    {
       width: 40rem;
    }
    .btn
    {
        font-size: 3rem;
        border:.8rem solid #03A678;
        padding: 1rem 2rem;
        border-radius: 2.5rem;
    }
}
@media(max-width:450px)
{
    .container
    {
        gap:8rem;
        padding: 3rem 0;
    }
    .header
    {
        font-size: 10rem;
    }
    .icon
    {
       width: 60vw;
    }
    .btn
    {
        font-size: 3.5rem;
        border:1rem solid #03A678;
        padding: 1.5rem 3rem;
        border-radius: 3.5rem;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .btn:hover
    {
        background: #03A678;
    }
}