.container
{
    position: absolute;
    bottom: 3.3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(76, 76, 76);
    border-radius: .5rem;
    padding: .5rem;
    gap:.3rem;
}
.item
{
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    border:.25rem solid rgb(0, 0, 0);
    transition: all .3s ease;
}

.selected
{
    border:.25rem solid rgb(243, 243, 243) !important;
}
@media (max-width:1200px) {
    .container
    {
        bottom: 3.6rem;
        border-radius: .6rem;
        padding: .6rem;
        gap:.4rem;
    }
    .item
    {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: .6rem;
        border:.25rem solid rgb(0, 0, 0);
    }
}
@media(max-width:768px)
{
    .container
    {
        bottom: 6rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgb(76, 76, 76);
        padding:.8rem;
        gap:.6rem;
        border-radius: 1.2rem;
    }
    .item
    {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        border:.4rem solid rgb(0, 0, 0);
    }
    .selected
    {
        border:.4rem solid rgb(243, 243, 243) !important;
    }
}
@media(max-width:450px)
{
    .container
    {
        bottom: 9.5rem;
        padding:1rem;
        gap:1rem;
        border-radius: 2rem;
    }
    .item
    {
        width: 9rem;
        height: 9rem;
        border-radius: 1.8rem;
        border:.7rem solid rgb(0, 0, 0);
    }
    .selected
    {
        border:.7rem solid rgb(243, 243, 243) !important;
    }
}
@media(hover: hover) and (pointer: fine)
{
    .item:hover
    {
        border:.25rem solid rgb(133, 133, 133);
    }
}