.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    backdrop-filter: blur(10px);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    gap:3rem;
    position: relative;
}
.back
{
    position: absolute;
    top:1.2rem;
    left:.8rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}
.back:hover>.backSVG
{
    fill: #cdcdcd;
}
.logo
{
    width: 20rem;
    height: 5rem;
    background-color: rgba(255, 0, 0, 0.632);
}
.codeContainer
{
    height: 10rem;
    width: 100%;
    display: flex;
    gap:.8rem;
}
.btn
{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    outline: none;
    background: none;
    padding: .8rem 1.5rem;
    border-radius: 1rem;
    border:0;
    background: rgb(92, 92, 92);
    width: 100%;
    transition: background .3s ease;
}
.btnEnable
{
    cursor: pointer;
    background: #02735E;
}
.btnEnable:hover
{
    background: #03A678;
}

.input
{
    font-size: 5rem;
    text-align: center;
    width: 6rem;
    padding: .8rem;
    font-weight: 900;
    outline: none;
    background: rgb(52, 52, 52);
    border: .5rem solid rgb(92, 92, 92);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    caret-color: transparent;
}
.input::selection
{
    background: none;
}
.input:focus
{
     border: .5rem solid #03A678;
}
.dash
{
    font-size: 5rem;
    height: 100%;
    color: rgb(114, 114, 114);
    display: flex;
    align-items: center;
    font-weight: 900;
}
.dash::selection
{
    background: none;
}