.overlay
{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #32323252;
    backdrop-filter: blur(12px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: #014040;
    backdrop-filter: blur(10px);
    padding: 2rem 4rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:.6rem solid #03A678;
    border-radius: 2.5rem;
    position: relative;
}
.back
{
    position: absolute;
    top:3.5rem;
    left:2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.backSVG
{
     width: 100%;
    height: 100%;
    fill: rgb(108, 108, 108);
    transition:fill .3s ease
}
.logo
{
    width: 24rem;
    margin-bottom: 1.4rem;
}
.codeContainer
{
    width: 100%;
    display: flex;
    align-items: center;
    gap:.5rem;
    margin-bottom: 1.2rem;
    justify-content: center;
}
.btn
{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(193, 193, 193);
    outline: none;
    background: none;
    padding: .6rem 1.5rem;
    border-radius: 1.2rem;
    border:0;
    background: rgb(92, 92, 92);
    width: 100%;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    margin-top: 1.2rem;
}
.btnEnable
{
    cursor: pointer;
    background: #02735E;
    color: rgb(255, 255, 255);
}
.btnWhileLoading
{
    background-color: rgb(48, 48, 48) !important;
    cursor: default;
}
.input
{
    font-size: 4rem;
    text-align: center;
    width: 4.6rem;
    padding: .8rem .3rem;
    font-weight: 900;
    outline: none;
    background: rgb(52, 52, 52);
    border: .4rem solid rgb(92, 92, 92);
    color: white;
    border-radius: 1.6rem;
    cursor: pointer;
    caret-color: transparent;
    transition: background .3s ease;
    font-family: "Cause", cursive;
}
.input:focus
{
     border: .4rem solid #03A678;
}
.inputWhileLoading
{
    background: rgb(52, 52, 52);
    cursor: default;
}
.dash
{
    font-size: 4rem;
    height: 100%;
    color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    font-weight: 900;
}
.loadingIcon
{
    width: 2.8rem;
    height: 2.8rem;
    transform: scale(1.8);
}
.error
{
    width: 100%;
    color: #fc3333;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
.backWhileLoading
{
    cursor: default;
}
.backWhileLoading>.backSVG
{
    fill: rgb(90, 90, 90) !important;
}
.input::selection,
.dash::selection,
.btn::selection
{
    background:none;
}
@media (max-width:1200px)
{
    .logo
    {
        width: 26rem;
        margin-bottom: 1.7rem;
    }
    .back
    {
        top:3.7rem;
        width: 3.5rem;
        height: 3.5rem;
    }
    .codeContainer
    {
        gap:.7rem;
        margin-bottom: 1.4rem;
    }
    .input
    {
        font-size: 4.2rem;
        width: 5.1rem;
        padding: .8rem .4rem;
        border: .45rem solid rgb(92, 92, 92);
    }
    .input:focus
    {
         border: .45rem solid #03A678;
    }
    .dash
    {
        font-size: 4.2rem;
    }
    .btn
    {
        font-size: 2.2rem;
        margin-top: 1.4rem;
    }
    .error
    {
        font-size: 1.8rem;
    }
}
@media (max-width:768px)
{
    .overlay
    {
        background-color: #3232328a;
    }
    .container
    {
        padding: 3.5rem 5rem 4.5rem 5rem;
        border:1rem solid #03A678;
        border-radius: 3.5rem;
    }
    .back
    {
        top:6.5rem;
        left:2.5rem;
        width: 6rem;
        height: 6rem;
    }
    .logo
    {
        width: 45rem;
        margin-bottom: 3rem;
    }
    .codeContainer
    {
        gap:1rem;
        margin-bottom: 2.5rem;
    }
    .btn
    {
        font-size: 4.5rem;
        padding: .8rem 1.5rem;
        border-radius: 2rem;
        margin-top: 2rem;
    }
    .input
    {
        font-size: 8rem;
        width: 8.2rem;
        border: .8rem solid rgb(92, 92, 92);
        border-radius: 2.5rem;
    }
    .input:focus
    {
         border: .8rem solid #03A678;
    }
    .dash
    {
        font-size: 7rem;
    }
    .loadingIcon
    {
        width: 6.4rem;
        height: 6.4rem;
    }
    .error
    {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
}
@media(max-width:450px)
{
    .overlay
    {
        background-color: #252525a9;
    }
    .container
    {
        padding: 4rem 5rem 5rem 5rem;
        border:1rem solid #03A678;
        border-radius: 5rem;
        width: 92vw;
    }
    .back
    {
        top:6rem;
        left:2rem;
        width: 6rem;
        height: 6rem;
    }
    .logo
    {
        width: 60vw;
        margin-bottom: 4.5rem;
    }
    .codeContainer
    {
        margin-bottom: 3rem;
    }
    .btn
    {
        font-size: 4.2rem;
        padding: 1.3rem .8rem 1.8rem .8rem;
        border-radius: 3rem;
        margin-top: 3rem;
    }
    .input
    {
        font-size: 6.5rem;
        width: 7rem;
        border-radius: 2.2rem;
    }
    .dash
    {
        font-size: 6rem;
    }
    .loadingIcon
    {
        width: 6.2rem;
        height: 6.2rem;
    }
    .error
    {
        margin-bottom: 0;
    }
}
@media (hover:hover) and (pointer:fine)
{
    .back:hover>.backSVG
    {
        fill: #cdcdcd;
    }
    .btnEnable:hover
    {
        background: #03A678;
    }
    .input:hover
    {
        background: rgb(60, 60, 60);
    }
    .inputWhileLoading:hover
    {
        background: rgb(52, 52, 52);
    }
}