.container
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #02735E;
    z-index: 3;
    transform: translate(0%,-100%);
    transition: transform .5s ease;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.displayContainer
{
    transform: translate(0,0);
}
.back
{
    position: absolute;
    top:1.2rem;
    left:1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backSVG
{
    width: 100%;
    height: 100%;
    fill: rgb(23, 23, 23);
    transition:fill .3s ease
}
.back:hover>.backSVG
{
    fill: #4b4b4b;
}