*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  height: 100svh;
  background-color: white;
  color: black;
}
html
{
  font-size: 1vw;
}
.editOn
{
  border: .2rem solid rgb(106, 106, 106) !important;
  cursor: move !important;
}
.editOn>div
{
    display: block;
}
