*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  height: 100svh;
  background-color: white;
  color: black;
}
html
{
  font-size: 1vw;
}
.editOn
{
  border: .5rem solid grey;
    cursor: move;
}
