.nav
{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    padding: .8rem 0;
    /* background-color: red; */
}
.logo
{
    height: 10rem;
    width: 20rem;
    background-color: rgba(255, 255, 0, 0.454);
}
.loginMenu
{
    position: absolute;
    top:1rem;
    right: 1rem;
    display: flex;
    background-color: rgba(31, 31, 31, 0.744);
    box-shadow: 0 0 1rem 1rem rgba(31, 31, 31, 0.744);
    gap:.6rem;
    align-items: center;
}
.line
{
    width: .3rem;
    height: 100%;
    background-color: rgb(79, 79, 79);
    border-radius: 10px;
    height: 2rem;
}
.loginMenuBtn
{
    font-size: 1.3rem;
    font-weight: 900;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    color: rgb(182, 182, 182);
    padding: .4rem .6rem;
    border-radius: 1rem;
    transition: all .3s ease;
    font-family: "Cause", cursive;
}
.loginBtn
{
    border:.3rem solid #02735E;
    background: #014040;
}
.registerBtn
{
    border:.3rem solid #02735E;
    background: #1c1f1a94;
}
.registerBtn:hover,
.loginBtn:hover
{
    color: white;
    background: #02735E;
}