.container
{
    width: 5rem;
    height: 10rem;
    position: absolute;
    bottom: 3.5rem;
    left:50%;
    translate: -50% 0;
    background-color: red;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
    transform-origin: bottom;
}
.displayContainer
{
    transform: scale(1);
    opacity: 1;
}